<div class="container mt-4">
  <h2>Welcome Employee</h2>
  <div class="row mt-4">
    <div class="col-md-4">
      <a routerLink="/employee/customers" class="btn btn-outline-primary w-100">View Customers</a>
    </div>
    <div class="col-md-4">
      <a routerLink="/employee/products" class="btn btn-outline-success w-100">View Products</a>
    </div>
    <div class="col-md-4">
      <a routerLink="/employee/transactions" class="btn btn-outline-info w-100">View Transactions</a>
    </div>
  </div>
</div>
